@model TrendyShop.Models.Maintenance

@{
    ViewData["Title"] = "NewMaintenance";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="col-lg-4 mx-auto">
    <div class="card">
        <div class="card-header">Nuevo Mantenimiento</div>
        <div class="card-body">
            @using (Html.BeginForm("InsertMaintenance", "Maintenance"))
            {

                <div class=" form-group">
                    @Html.LabelFor(a => a.Description)
                    @Html.TextBoxFor(a => a.Description, new { @class = "form-control", @id = "description" })
                    @Html.ValidationMessageFor(a => a.Description)
                </div>

                <div class=" form-group">
                    @Html.LabelFor(a => a.Cost)
                    @Html.TextBoxFor(a => a.Cost, new { @class = "form-control" })
                    @Html.ValidationMessageFor(a => a.Cost)
                </div>

                <div class=" form-group">
                    @Html.LabelFor(a => a.Date)
                    @Html.TextBoxFor(a => a.Date, new { @class = "form-control", @type = "datetime-local", @id = "date" })
                    @Html.ValidationMessageFor(a => a.Date)
                </div>

                <button type="submit">Guardar</button>
                <button type="button" onclick="location.pathname='/Maintenance'">Cancelar</button>
            }
        </div>
    </div>
</div>

@{
    DateTime now = DateTime.Now;
    string dateFormat = now.ToString("yyyy-MM-dd") + "T" + now.ToString("HH:mm");
}
<script>
    document.getElementById("description").select();
    var date = document.getElementById("date");
    date.value = "@dateFormat";
</script>



