@using TrendyShop.ViewModels
@model StockViewModel
@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<head>
    <style>
        input {
            width: 10%;
            border-color: grey;
            border-width: thin;
            border-radius: 2px
        }
    </style>
</head>
<div class=" col-lg-10 mx-auto">
    <div class="card">
        <div class="card-body">
            <table class="table table-bordered mb-3">
                <tr>
                    <th>Reservaciones</th>
                    <th>Cliente</th>
                    <th>Precio Extra</th>
                    <th>Renta</th>
                    <th>Consumo</th>
                    <th>Total</th>
                </tr>
                @foreach (var lodging in Model.Lodgins)
                {
                    var str = "#" + lodging.LodgingNumber.ToString() + " " + lodging.Date.ToString("hh:mm tt") + "-" + @lodging.FinalDate.ToString("hh:mm tt");
                    <tr>
                        <td>
                            @Html.ActionLink(str, "Details", "Lodging", new { roomId = lodging.RoomId, _date = lodging.Date })
                        </td>
                        <td class="text-right">@lodging.Customer.Name </td>
                        <td class="text-right">@lodging.ExtraCharge $</td>
                        <td class="text-right">@lodging.RentCost $</td>
                        <td class="text-right">@lodging.Consumption $</td>
                        <td class="text-right">@lodging.TotalPrice $</td>
                    </tr>
                }
                <tr>
                    <td style="background-color: rgb(116,216,216)">
                        <div class="d-flex">
                            <h5 class="mb-0"> Total de reservas:</h5> <h5 class="mb-0 ml-auto">@Model.Lodgins.Count</h5>
                        </div>
                    </td>
                    <td></td>
                    <td style="background-color: rgb(116,216,216)">
                        <div class="d-flex">
                            <h5 class="mb-0">Total:</h5> <h5 class="mb-0 ml-auto">@Model.IncomePerDamage $</h5>
                        </div>
                    </td>
                    <td style="background-color: rgb(116,216,216)">
                        <div class="d-flex">
                            <h5 class="mb-0">Total:</h5> <h5 class="mb-0 ml-auto">@Model.IncomePerRent $</h5>
                        </div>
                    </td>
                    <td style="background-color: rgb(116,216,216)">
                        <div class="d-flex">
                            <h5 class="mb-0">Total:</h5> <h5 class="mb-0 ml-auto">@Model.ProductsIncome $</h5>
                        </div>
                    </td>
                    <td style="background-color: rgb(116,216,216)">
                        <div class="d-flex">
                            <h5 class="mb-0">Total:</h5> <h5 class="mb-0 ml-auto">@Model.TotalIncome $</h5>
                        </div>
                    </td>
                </tr>
            </table>

            <table class="table table-bordered mb-3">
                <tr>
                    <th>Producto</th>
                    <th>Cantidad</th>
                    <th>Formula</th>
                    <th>Consumo</th>
                </tr>
                @foreach (var p in Model.Products)
                {
                    <tr>
                        <td>@p.Item1</td>
                        <td class="text-right">@p.Item2</td>
                        <td class="text-right">@p.Item3</td>
                        <td class="text-right">@p.Item4 $</td>
                    </tr>
                }
                <tr>
                    <td style="border:none"></td>
                    <td style="border:none"></td>
                    <td style="border:none"></td>
                    <td style="border:none; background-color: rgb(116,216,216)">
                        <div class="d-flex">
                            <h5 class="mb-0">Total: </h5>
                            <h5 class="mb-0 ml-auto">@Model.ProductsIncome $</h5>
                        </div>
                    </td>
                </tr>
            </table>
            <div class="d-flex">
                <h5 class="mb-0">Ingreso Total: @Model.TotalIncome $</h5>
                <h5 class="ml-4">Fondo anterior: @Model.LastFund $</h5>
                <h5 class="ml-4">Total en caja: @Model.TotalCash $</h5>
            </div>
            @if (Model.IsPreviousStock)
            {
                <button type="button" onclick="location.pathname='/Stock/PreviousStocks'">Atrás</button>
            }
            else
            {
                <form asp-action="Save" asp-controller="Stock">
                    <h5>Nuevo Fondo: <input id="newFund" type="number" step="any" name="fund" value="@Model.NewFund" /></h5>
                    <button type="submit">Guardar</button>
                    <button type="button" onclick="location.pathname='/Home'">Cancelar</button>
                </form>
            }
        </div>
    </div>
</div>
<script>
    document.getElementById("newFund").select();
</script>